@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@font-face { font-family:'AritaBuri'; src:url('../font/AritaBuriB.woff') format('woff'); font-style:normal; font-weight:normal;}
/* @font-face { font-family: 'NotoSerifKR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff'); font-weight: normal; font-style: normal; } */
/* @font-face { font-family:'AritaBuri-Semi'; src:url('../font/AritaBuriSB.woff') format('woff'); font-style:normal; font-weight:normal;} */

*{margin:0; padding:0;}
img{border:0;}
button{border: 0; background-color: transparent; cursor: pointer;}
a{text-decoration: none; color: #404b59;}
ul li{list-style: none;}
em{font-style: normal;}
fieldset{border: 0;}
i{font-style: normal;}
button{display: inline-block; cursor: pointer; box-sizing: border-box; text-align: center; vertical-align: top;}
.blind {position:absolute; top:0; left:0; width:0; height:0; line-height:0; visibility:hidden; overflow:hidden; text-indent:-9999px;}
legend{font-size:0;  line-height:0;  text-indent:-9999px;}

/*footer*/
#remember_footer{background-color: #263250; font-size: 16px; font-family: "Noto Sans KR", sans-serif;}
#remember_footer .footer_inner{position: relative; width: 1730px; margin: 0 auto; padding: 50px 0; color: #fff;}
.remember_footer .term_list::after{display: block; content: ""; clear: both;}
.remember_footer .term_list{margin-bottom: 10px;}
.remember_footer .term_list li{float: left; position: relative;}
.remember_footer .term_list li a{color: #fff;}
.remember_footer .bar{display: inline-block; width: 1px; height: 10px; margin:0 10px; background-color: #fff; content: "";}
.remember_footer .term_list .bar{height: 12px;}
.remember_footer .compay_info{margin-bottom: 50px; line-height: 1.6; font-size: 15px; color: #667292; line-height: initial;}
.remember_footer .compay_info .bar{background-color: #667292;}
.remember_footer .compay_info .customer{display: block;}
.remember_footer address{display: inline-block; font-style: normal;}
.remember_footer .ico_wrap{display: flex; position: absolute; top:0; right: 0; margin-top: 50px;}
.remember_footer .ico_wrap a{display: inline-block;}
.remember_footer .ico_wrap a:first-child{margin-right: 10px;}   
.right_banner{position: fixed; right: 60px; bottom: 40px; z-index: 180;}
.right_banner a{display: block; width: 80px; height: 80px; line-height: 4.3; margin-bottom: 12px; text-align: center; font-size: 18px; color: #fff; font-family: 'AritaBuri-Semi'; background-color: #192B57; border-radius: 50%;}
.right_banner a.kakao{display: block; color: #192B57; background-color: #FBCC34; letter-spacing: -0.06em; font-weight: bold; font-family: "Noto Sans KR", sans-serif;}
/*모바일~노트북 해상도*/
@media (min-width: 760px) and (max-width: 1760px) {
}

/*layer*/
body.fixed{overflow-y: hidden;}
.dim{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.7); z-index: 990;}
.layer_pop{position: relative;}
.layer_pop .pop_inner{width: 750px; margin-left: -375px; position: fixed; top:40px; right: 0; bottom: 0; left: 50%; z-index: 999;  height: auto;}
.layer_pop .pop_header{position: relative; padding: 40px 5%; background-color: #fff; box-sizing: border-box;}
.layer_pop .pop_header .top_title{color: #0C1622; font-family: 'AritaBuri'; font-size: 40px;}
.layer_pop .pop_header .close{display: block; position: absolute; top: 45px; right: 40px; width: 30px; height: 30px; background: url("../images/pop_close.png") no-repeat; font-size:0;  line-height:0;  text-indent:-9999px;}
.layer_cont_wrap{position: absolute; top:128px; right: 0; bottom: 20px; left: 0;}
.layer_cont_wrap .layer_cont{height: 100%; background-color: #fff;}
.layer_cont_wrap .layer_cont_inner{position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden; overflow-y: auto;}    
.layer_cont_wrap .layer_cont_inner::-webkit-scrollbar{width: 8px;}
.layer_cont_wrap .layer_cont_inner::-webkit-scrollbar-thumb{border-radius: 10px; background-color:rgba(196, 196, 196, 0.5);}
.layer_pop .pop_btn_wrap{text-align: center;}
.layer_pop .pop_btn{width: 174px; height: 80px; font-size: 26px; color: #fff; background-color: #192B57; border-radius: 50px;}
.layer_pop .pop_btn.type{color: #666; background-color: #fff; border: 2px solid #ABBFC6;}
.layer_pop.type_short .pop_inner{top: 120px; bottom: auto;}
.layer_pop.type_short .layer_cont{ height: 350px; background-color: #fff;}
.layer_pop .input{width: 100%; height: 64px; padding:20px; font-size: 24px; border:1px solid #BBC4D7; border-radius: 5px; box-sizing: border-box;}
.layer_pop .input::placeholder{color: #8893AA;}
.layer_pop .pop_layout{padding: 20px 0 40px;}
.layer_pop .pop_txt{padding: 20px 0 40px; text-align: center; color: #0C1622; font-size: 26px; line-height: 1.6; font-family: "Noto Sans KR", sans-serif;}
.layer_pop .pop_txt .red{color: #f35056;}
/*radio,check*/
.layer_pop .radio{display: none;}
.layer_pop .radio_item{display: inline-block;}
.layer_pop .radio_item label{color: #0C1622; font-size: 28px; font-family: "Noto Sans KR", sans-serif; letter-spacing: -0.06em;}
.layer_pop .radio_item label:before{display: inline-block; width:40px; height: 40px; margin-right: 18px; background-image:url("../images/bg_radio.png"); background-repeat: no-repeat; background-size: 100%; vertical-align:top; cursor:pointer; content:'';}
.layer_pop .radio_item .radio:checked + label:before {background-image:url("../images/bg_radio_on.png"); background-repeat: no-repeat;  background-size: 100%;}
.layer_pop .radio_item.check label:before{background-image:url("../images/bg_check.png");}
.layer_pop .radio_item.check .radio:checked + label:before{background-image:url("../images/bg_check_on.png");}
.layer_pop .check_item .check{display: none;}
.layer_pop .check_item .check + label::before {display: inline-block; width:46px; height: 46px; vertical-align: -2px; background-image: url('../images/bg_check.png'); background-repeat: no-repeat;  background-size: 100%; cursor: pointer; content:"";}
.layer_pop .check_item .check:checked + label:before {background-image: url('../images/bg_check_on.png'); background-size: 100%;}

/*모바일 해상도*/
@media (max-width: 760px) {    

    /*layer*/
    .layer_pop .pop_inner{width: auto; margin-left: 0; position: fixed; top:0; left: 0; right: 0; bottom: 0;}
    .layer_pop .pop_header{padding: 20px 5%;}
    .layer_pop .pop_header .top_title{font-size: 20px;}
    .layer_pop .pop_header .close{width: 15px; height: 15px; right: 15px; top: 50%; transform: translateY(-50%); background-size: 100%;}   
    .layer_pop .layer_cont_wrap{top:64px; right: 0; bottom: 0; left: 0;}
    .layer_pop .pop_btn{width: 88px; height: 40px; font-size: 14px;}
    .layer_pop .pop_btn.type{border: 1px solid #ABBFC6;}
    /* .layer_pop.type .pop_inner{top: 12%; left: 2%; right: 2%;}
    .layer_pop.type .layer_cont_wrap{bottom: 26%;} */
    .layer_pop.type_short .pop_inner{position: fixed; top: 20%; right: 6%; left: 6%;}
    .layer_pop.type_short .pop_header{padding:16px 5%;}
    .layer_pop.type_short .layer_cont{height: 140px;}
    .layer_pop .input{height: 32px; padding: 10px; font-size: 14px;}
    .layer_pop .pop_layout{padding:20px 0 20px;}
    .layer_pop .pop_txt{padding: 5px 0 10px; font-size: 14px;}
    /*radio, check*/
    .layer_pop .radio_item label{font-size: 14px;}
    .layer_pop .radio_item label:before{width: 20px; height: 20px; margin-right: 8px;}
    .layer_pop .check_item .check + label::before{width: 24px; height: 24px;}
     /*footer*/
     #remember_footer .footer_inner{width: 86%;}
     .remember_footer .term_list li a{font-size: 14px;}
     .remember_footer .compay_info{font-size: 13px; word-wrap: break-word; word-break: keep-all;}
     .remember_footer .compay_info .customer{margin-top: 7px;}
     .remember_footer .compay_info .mb_block{display: block;}
     .remember_footer .compay_info .email{display: none;}
     .remember_footer .compay_info .mb_none{width: 0;}
     .remember_footer .compay_info .none_type{display: none;}
     .remember_footer .compay_info .fax{margin-left: 20px;}
     .remember_footer .ico_wrap a{width: 26px; height: 26px;}
     .remember_footer .ico_wrap a:first-child{margin-right: 8px;}
     .remember_footer .ico_wrap a img{width: 100%;}
     .right_banner{display: none;}
     
}
