@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@font-face { font-family: 'NotoSerifKR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family:'AritaBuri'; src:url('../font/AritaBuriB.woff') format('woff'); font-style:normal; font-weight:normal;}
@font-face { font-family:'AritaBuri-Semi'; src:url('../font/AritaBuriSB.woff') format('woff'); font-style:normal; font-weight:normal;}

/*공통 [s]*/
*{margin:0; padding:0;}
img{border:0;}
button{border: 0; background-color: transparent; cursor: pointer;}
a{text-decoration: none; color: #404b59;}
ul li{list-style: none;}
em{font-style: normal;}
fieldset{border: 0;}
i{font-style: normal;}
button{display: inline-block; cursor: pointer; box-sizing: border-box; text-align: center; vertical-align: top;}
.blind {position:absolute; top:0; left:0; width:0; height:0; line-height:0; visibility:hidden; overflow:hidden; text-indent:-9999px;}
/*gnb*/
#remember_gnb{position: fixed; top:0; left: 0; width: 100%; height: 140px; z-index: 200;}
#remember_gnb .gnb_inner{display: flex; width: 1780px; margin: 0 auto; position: relative;}
.remember_gnb .logo{position: absolute; top:0; left: 50%; width: 174px; height: 64px; margin-top: 60px; margin-left: -934px; font-size:0; line-height:0; text-indent:-9999px; background-image: url("../images/main/logo.png"); background-repeat: no-repeat; background-size: 100%;}
.remember_gnb .gnb{margin-left: 500px;}
.remember_gnb .gnb ul::after{display: block; clear: both; content: "";}
.remember_gnb .gnb ul{width: 760px; line-height: 170px;}
.remember_gnb .gnb li{float: left; margin-left: 77px;}
.remember_gnb .gnb li:first-child{margin-left: 0;}
.remember_gnb .gnb li a{color:#fff; font-family: 'AritaBuri'; font-size: 20px;}
.remember_gnb .right{margin-left: 222px; padding-top: 63px; width: 302px; display: flex;}
.remember_gnb .gnb_search_form{position: relative;}
.remember_gnb .gnb_search_form legend{position:absolute; top:0; left:0; width:0; height:0; line-height:0; visibility:hidden; overflow:hidden; text-indent:-9999px;}
.remember_gnb .gnb_search_form .search_input{display: inline-block; width: 180px; height: 30px; padding-left: 4px; font-family: 'AritaBuri'; font-size: 16px; border: 0; border-bottom: 1px solid #8893AA; color: #8893AA; background-color: transparent;}
.remember_gnb .gnb_search_form .ico_sch{display: inline-block; position: absolute; top:0; right: -34px; width: 34px; height: 34px; background-image: url("../images/ico_search_blue.png"); background-repeat: no-repeat; font-size:0;  line-height:0;  text-indent:-9999px}
.remember_gnb .member{display: inline-block; width: 36px; height: 36px; margin-top: -4px; margin-left: 80px; background: url("../images/ico_member.png") no-repeat;  font-size:0;  line-height:0;  text-indent:-9999px;}
.remember_gnb .menu{display: none;}
#remember_gnb.fix_on{height: 104px; background: rgba(255, 255, 255, 0.9);}
.remember_gnb.fix_on .logo{margin-top: 28px; background-image: url("../images/main/logo_on.png");}
.remember_gnb.fix_on .gnb ul{line-height: 106px;}
.remember_gnb.fix_on .gnb li a{color: #192B57;}
.remember_gnb.fix_on .right{padding-top: 37px;}
/*footer*/
#remember_footer{background-color: #263250; font-size: 16px; font-family: "Noto Sans KR", sans-serif;}
#remember_footer .footer_inner{position: relative; width: 1730px; margin: 0 auto; padding: 50px 0; color: #fff;}
.remember_footer .term_list::after{display: block; content: ""; clear: both;}
.remember_footer .term_list{margin-bottom: 10px;}
.remember_footer .term_list li{float: left; position: relative;}
.remember_footer .term_list li a{color: #fff;}
.remember_footer .bar{display: inline-block; width: 1px; height: 10px; margin:0 10px; background-color: #fff; content: "";}
.remember_footer .term_list .bar{height: 12px;}
.remember_footer .compay_info{margin-bottom: 50px; line-height: 1.6; font-size: 15px; color: #667292; line-height: initial;}
.remember_footer .compay_info .bar{background-color: #667292;}
.remember_footer .compay_info .customer{display: block;}
.remember_footer address{display: inline-block; font-style: normal;}
.remember_footer .ico_wrap{display: flex; position: absolute; top:0; right: 0; margin-top: 50px;}
.remember_footer .ico_wrap a{display: inline-block;}
.remember_footer .ico_wrap a:first-child{margin-right: 10px;}   
.right_banner{position: fixed; right: 60px; bottom: 40px; z-index: 180;}
.right_banner a{display: block; width: 80px; height: 80px; line-height: 4.3; margin-bottom: 12px; text-align: center; font-size: 18px; color: #fff; font-family: 'AritaBuri-Semi'; background-color: #192B57; border-radius: 50%;}
.right_banner a.kakao{display: block; color: #192B57; background-color: #FBCC34; letter-spacing: -0.06em; font-weight: bold; font-family: "Noto Sans KR", sans-serif;}
/*공통 [e]*/

.main_content_wrap{width: 100%; background-color: #EEF8FB; overflow: hidden; font-size: 16px;}
.main_content_wrap .swiper-button-prev, .main_content_wrap .swiper-button-next{background-repeat: no-repeat; background-color: transparent; background-size: 100%;}
.main_top{width: 1920px; margin:0 auto; font-family: 'AritaBuri'; background: url("../images/main/main_top_bg.jpg") no-repeat;}
.main_top .main_top_inner{position: relative; width: 1540px; margin:0 auto}
.main_top .main_slide{position: relative; padding-top:215px; margin-left: 385px;}
.main_top .main_slide .swiper-slide{width: 1184px; height: 634px; overflow: hidden;}
.main_top .main_slide .swiper-button-prev, .main_top .main_slide .swiper-button-next{width: 42px; height: 12px; top: auto; bottom: 60px;}
.main_top .main_slide .swiper-button-prev{background-image: url("../images/main/main_arr_prev.png"); left: auto; right: 150px;}
.main_top .main_slide .swiper-button-next{background-image: url("../images/main/main_arr_next.png"); right: 80px}
.main_top .cont_area{position: absolute; top:417px; left: 0; z-index: 110;}
.main_top .cont_area .txt{margin-top: 30px; font-size: 20px; line-height: 34px; color: #fff; word-wrap: break-word; word-break: keep-all;}
.main_top .cont_area .txt .block{display: block;}
.main_top .search_form{position: relative; width: 260px; height: 70px; margin-bottom: 30px; padding-right: 60px; border: 2px solid rgba(255, 255, 255, 0.5); border-radius: 50px; box-sizing: border-box;}
.main_top .search_form legend{position:absolute; top:0; left:0; width:0; height:0; line-height:0; visibility:hidden; overflow:hidden; text-indent:-9999px;}
.main_top .search_form .search_input{display: inline-block; width: 100%; height: 48px; margin:10px; padding:0 10px; color: #fff; font-size: 20px; font-family: 'AritaBuri'; border: 0; border-radius: 50px; box-sizing: border-box; background-color: transparent;}
.main_top .search_form .search_input::placeholder{color: #fff; font-size: 20px; font-family: 'AritaBuri';}
.main_top .search_form .search_input:focus{outline: none;}
.main_top .search_form .ico_sch{display: inline-block; position: absolute; top:25%; right: 18px; width: 36px; height: 36px; font-size:0; line-height:0; text-indent:-9999px; background: url("../images/ico_search_white.png") no-repeat; }
.main_content{position: relative; width: 1540px; margin:0 auto; font-family: 'AritaBuri'; background: url("../images//main/bg_content.png") no-repeat center 59%;}
.main_content .intro_section{padding-top: 108px;  background: url("../images/main/bg_intro.png") no-repeat right -508px;}
.main_content .title{margin-bottom: 32px; font-size: 60px; font-family: 'AritaBuri'; font-weight: bold;}
.main_content .txt{margin-bottom: 16px; color: #4A6688; font-size: 18px; font-family: "Noto Sans KR", sans-serif;}
.main_content .main_btn{display: block; width: 150px; height: 52px; line-height: 2.6; border-radius: 30px; font-size: 20px; background-color: #192B57; color: #fff; font-family: 'AritaBuri'; text-align: center;}
.main_content .more_btn_area{text-align: center; margin-left: -7%;}
.main_content .more_btn{width: 126px; height: 40px; color: #0C1622; border:1px solid #192B57; border-radius: 50px; background-color: transparent; font-size: 16px; font-family: "Noto Sans KR", sans-serif;}
.main_content .logo_content{display: block; width: 1413px; margin: 138px auto 83px; font-size: 150px; color: #9CB0B8; text-transform: uppercase; letter-spacing: -0.06em; text-align: center;}
.intro_section{position: relative; width: 1540px; overflow: hidden;}
.intro_section .intro_slide {margin-top: 73px; width: 1540px;}
.intro_section .intro_slide .swiper-slide{position: relative;}
.intro_section .intro_slide .swiper-slide-active{margin-top: -220px;}
.intro_section .swiper-button-prev, .intro_section .swiper-button-next{width: 47px; height: 47px; top:90px; left: auto; border: 1px solid #192B57; background-size: 25%; z-index: 120;}
.intro_section .swiper-button-prev{right: 47px;}
.intro_section .swiper-button-next{right: 0; border-left: none;}
.intro_section .intro_slide .text{position: absolute; top:428px; left: 40px; width: 380px; word-wrap: break-word; word-break: keep-all; color: #fff; font-size: 32px;}
.intro_section .intro_slide .info{line-height: 1.6; font-size: 22px;}
.intro_section .intro_slide .info em{display: block; margin-top: 38px; font-size: 24px;}
.intro_section .swiper-button-prev, .memorial_section .swiper-button-prev:before{background-image: url("../images/main/arr_prev.png");}
.intro_section .swiper-button-next,.memorial_section .swiper-button-next::before{background-image: url("../images/main/arr_next.png");}
.intro_section .more_btn{margin-top:20px;}
.main_content .memorial_section{position: relative;}
.memorial_section .memorial_slide{margin-top: 40px; padding-bottom: 180px;}
.memorial_section .memorial_slide .swiper-slide{height: 400px;  transform: scale(0.8);}
.memorial_section .memorial_slide .swiper-slide-active{margin-top: -55px; height: 575px;  transform: scale(1);}
.memorial_section .memorial_slide .swiper-slide img{width: 100%; vertical-align: bottom;}
.memorial_section .memorial_slide .text{margin-top: 40px; margin-bottom: 13px; font-size: 28px;}
.memorial_section .memorial_slide .info{color: #7C7C7C; font-size: 22px;}
.memorial_section .memorial_slide dt{margin-bottom: 17px; font-family: 'NotoSerifKR';}
.memorial_section .memorial_slide dd{margin-bottom: 6px; font-size: 18px; font-family: "Noto Sans KR", sans-serif;}
.memorial_section .memorial_slide dd span{display: inline-block; width: 57px; height: 30px; margin-right: 14px; border:1px solid #0C1622; color:#0C1622; border-radius: 50px; text-align: center;}
.memorial_section .swiper-button-prev,.memorial_section .swiper-button-next{ top:auto; bottom: 0;  height: auto; color: #192B57; background: none; font-family: "Noto Sans KR", sans-serif;}
.memorial_section .swiper-button-next{right: inherit; right: 40px;}
.memorial_section .swiper-button-prev:before, .memorial_section .swiper-button-next:before{position: absolute; top:4px; left: 0; width: 12px; height: 17px; content: "";}
.memorial_section .swiper-button-next:before{left: 50px;}
.memorial_section .swiper-button-prev span{display: inline-block; margin-left: 30px;}
.memorial_section .swiper-button-next span{display: inline-block; margin-right: 30px;}
.memorial_section .swiper-pagination{top: auto; bottom: 0; left: 50%; width: 600px; margin-left: -300px;}
.memorial_section .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background: #192B57;}
.remember_service {background: url("../images/main/bg_cont_service.png") no-repeat; background-size: 100%;}
.remember_service .service_content{display: flex; justify-content:space-between; width: 1540px; margin:0 auto; padding:270px 0 140px;}
.remember_service a{display: block; width: 304px; height: 364px; padding:70px 0; color: rgba(255, 255, 255, 0.8);; text-align: center; background-repeat: no-repeat; box-sizing: border-box;}
.remember_service a i{display: block; height: 67px; margin-bottom: 32px;}
.remember_service a strong{display: block; margin-bottom: 20px; font-size: 26px; font-family: 'AritaBuri-Semi';}
.remember_service a .desc{font-size: 16px; font-family: "Noto Sans KR", sans-serif;}
.remember_service .sv1{background-image: url("../images/main/bg_service1.png");}
.remember_service .sv2{background-image: url("../images/main/bg_service2.png");}
.remember_service .sv3{background-image: url("../images/main/bg_service3.png");}
.remember_service .sv4{background-image: url("../images/main/bg_service4.png");}
@media (min-width: 760px) and (max-width: 1760px) {
    #remember_gnb .gnb_inner{width: 100%;}
    .remember_gnb .gnb{margin-left: 22%;}
    .remember_gnb .logo{margin-left: -860px;}
    #remember_footer .footer_inner{width: 90%;}
}
@media (max-width: 760px) {
    /*공통[s]*/
    #remember_gnb{height: 60px;}
    #remember_gnb .gnb_inner{width: 100%;}
    .remember_gnb .logo{width: 120px; height: 45px; margin-top: 20px;}
    .remember_gnb .gnb, 
    .remember_gnb .gnb_search_form .search_input,
    .remember_gnb .member{display: none;}
    .remember_gnb .right{width: auto; top: 23px; right: 20px;}
    .remember_gnb .gnb_search_form .ico_sch{width: 32px; height: 32px; top: 0; right: 0; background-image: url("../images/ico_search_white.png");}
    .remember_gnb .menu{display: block; width: 23px; height: 20px; margin-top: 5px; margin-left: 20px; background-image:url("../images/ico_allmenu.png"); background-repeat: no-repeat; background-size: 100%; font-size:0;  line-height:0;  text-indent:-9999px;}
    #remember_gnb.fix_on{height: 60px;}
    .remember_gnb.fix_on .logo{margin-top: 10px;}
    .remember_gnb.fix_on .right{top: 11px;}
    .remember_gnb.fix_on .gnb_search_form .ico_sch{background-image: url("../images/ico_search_blue.png");}
    .remember_gnb.fix_on .menu{background-image:url("../images/ico_allmenu_on.png")}
     /*footer*/
     #remember_footer .footer_inner{width: 86%;}
     .remember_footer .term_list li a{font-size: 14px;}
     .remember_footer .compay_info{font-size: 13px; word-wrap: break-word; word-break: keep-all;}
     .remember_footer .compay_info .customer{margin-top: 7px;}
     .remember_footer .compay_info .mb_block{display: block;}
     .remember_footer .compay_info .email{display: none;}
     .remember_footer .compay_info .mb_none{width: 0;}
     .remember_footer .compay_info .none_type{display: none;}
     .remember_footer .compay_info .fax{margin-left: 20px;}
     .remember_footer .ico_wrap a{width: 26px; height: 26px;}
     .remember_footer .ico_wrap a:first-child{margin-right: 8px;}
     .remember_footer .ico_wrap a img{width: 100%;}
     .right_banner{display: none;}
     /*공통[e]*/
    .main_content_wrap img{width: 100%;}
    .main_content_wrap{width: 100%; background-color: #EEF8FB;}
    .main_top{width: 100%; background: url("../images/main/mb_top_bg.jpg") no-repeat; background-size: cover;}
    .main_top .main_top_inner{width: 100%; margin: 0; padding-bottom: 66px;}
    .main_top .main_slide{margin-left: 6%; padding-top: 97px;}
    .main_top .main_slide .swiper-slide{height: 265px;}
    .main_top .main_slide .swiper-slide img{width: 100%; height: 100%;}
    .main_top .main_slide .swiper-wrapper{padding-bottom: 40px;}
    .main_top .main_slide .swiper-button-prev, .main_top .main_slide .swiper-button-next{bottom: 0; background-size: 80%;}
    .main_top .main_slide .swiper-button-prev{right: 84px;}
    .main_top .main_slide .swiper-button-next{right: 25px;}
    .main_top .cont_area{position: relative; top:auto; left: auto;  margin-left: 7%;} 
    .main_top .cont_area .txt{width: 96%; margin-top: 15px; line-height: 1.6; font-size: 14px;}
    .main_top .cont_area .txt .block{display: inline;}
    .main_top .search_form{width: 184px; height: 60px; font-size: 14px;}
    .main_top .search_form .ico_sch{top: 25%; width: 28px; height: 28px; background-size: 100%;}
    .main_top .search_form .search_input{height: 38px; font-size: 14px;}
    .main_top .search_form .search_input::placeholder{font-size: 14px;}
    .main_content .main_btn{width: 96px; height: 33px; line-height: 2.1; font-size: 16px;}
    .main_content{width: 100%;  background-size: 100%;}
    .main_content .title{margin-bottom: 16px; font-size: 30px;}
    .main_content .txt{font-size: 14px;}
    .main_content .more_btn{width: 100px; height: 32px;}
    .main_content .logo_content{width: 98%; margin:65px auto; font-size: 36px;}
    .main_content .intro_section{width: 100%; margin-left: 6%; padding-top: 57px; background: url("../images/main/bg_mb_intro.png") no-repeat 0 16px; background-size: 100%;}
    .main_content .intro_section .intro_slide{margin-top: 38px; margin-bottom: 33px; width: 80%;}
    .main_content .intro_section .intro_slide .swiper-slide-active{margin-top:0 ;}
    .main_content .more_btn_area{text-align: left; margin-left: 0;}
    .intro_section .swiper-button-prev, .intro_section .swiper-button-next{display: none;}
    .intro_section .intro_slide .text{width: 90%; top:58%; left: 5%; line-height: 1.4; font-size: 18px;}
    .intro_section .intro_slide .info{font-size: 14px;}
    .intro_section .intro_slide .info em{margin-top: 20px; font-size: 16px;}
    .memorial_section{margin-bottom: 54px;}
    .memorial_section .section_style{margin-left: 6%; margin-bottom: 104px;}
    .memorial_section .swiper-button-prev,.memorial_section .swiper-button-next{display: none;}
    .memorial_section .memorial_slide{margin-top: 0px; padding-bottom: 60px;}
    .memorial_section .memorial_slide .swiper-slide{height: auto;  transform: scale(0.9);}
    .memorial_section .memorial_slide .swiper-slide-active{margin-top: -23px;  height: auto;  transform: scale(1.2);}
    .memorial_section .memorial_slide .swiper-slide img{width: 100%; }
    .memorial_section .memorial_slide .text{margin-top: 22px; margin-bottom: 4px; font-size: 18px; word-wrap: break-word; word-break: keep-all;}
    .memorial_section .memorial_slide .info{line-height: 1.4; font-size: 14px;}
    .memorial_section .memorial_slide dd{font-size: 14px;}
    .memorial_section .memorial_slide dd span{width: 45px; height: 18px; margin-right: 7px; font-size: 12px;}
    .memorial_section .swiper-pagination{width: 80%; left: 10%; margin-left: 0;}
    .remember_service .service_content{width: 100%; padding:55px 0 60px; flex-direction: column; background: url("../images/main/bg_mb_cont_service.png") no-repeat 0 0; background-size: 100%;}
    .remember_service a{width: 230px; height: 276px; margin: 0 auto 20px; padding:50px 0; background-size: 100%;}
    .remember_service a i{width: 25%; height: 44px; margin:0 auto 24px;}
    .remember_service a strong{margin-bottom: 14px; font-size: 18px;}
    .remember_service a .desc{font-size: 14px;}       
}
 
