/*gnb*/
.remember_gnb.sub_gnb .logo{background-image: url("../images/main/logo_on.png");}
.remember_gnb.sub_gnb .gnb li a{color: #192B57;}

.content_wrap{position: relative; background-color: #f6fbfe; font-family: "Noto Sans KR", sans-serif; font-size: 16px;}


/*모바일~노트북 해상도*/
@media (min-width: 760px) and (max-width: 1760px) {
    
}
/*모바일 해상도*/
@media (max-width: 760px) {
     /*gnb*/
     .remember_gnb.sub_gnb .gnb_search_form .ico_sch{width: 32px; height: 32px; top: 0; right: 0; background-image: url("../images/ico_search_blue.png");}
     .remember_gnb.sub_gnb .menu{background-image:url("../images/ico_allmenu_on.png");}
     .remember_gnb.sub_gnb .log_info a{color: #192B57;}
}