.content_wrap{position: relative; background-color: #f6fbfe; font-family: "Noto Sans KR", sans-serif; font-size: 16px;}
.content_wrap .content_title{position: absolute; top: 336px; left: 50%; margin-left: -800px; font-family: 'AritaBuri'; font-size: 60px;}
.bg_register1,.bg_register2{position: absolute; background-repeat: no-repeat;}
.bg_register1{width: 337px; height: 681px; top:220px; left: 0; background-image: url("../images/bg_reg1.png");}
.bg_register2{width: 326px; height: 381px; bottom: 460px; right: 0; background-image: url("../images/bg_reg2.png");}
.register_content{position: relative; width: 750px; margin:0 auto;}
.register_content .register_inner{padding:262px 0 66px;}
.register_content .title{display: inline-block; position: relative; margin-bottom: 26px; font-family: 'AritaBuri'; font-size: 19px;}
.register{position: relative; padding-bottom: 36px; margin-bottom: 34px; border-bottom:2px solid #e8edf3}
.register_content .register .sub_txt{margin-left: 50px; color: #8893AA; font-size: 16px; font-family: "Noto Sans KR", sans-serif;}
.register .select{position: relative; width: 152px; height: 47px; padding:8px 14px; letter-spacing: -0.05em; border: 1px solid #ced5e4; border-radius: 5px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: url("../images/ico_select.png") 92% 50% no-repeat #fff; box-sizing: border-box; font-family: "Noto Sans KR", sans-serif;}
.register .select::-ms-expand {display: none;}
.register .select:after{ content: '▼';position: absolute; top: 7px; right: 10px; transform: none; border: 0;}
.register input[type="text"] {height: 47px; padding:10px 16px;  border-radius: 5px; border: 1px solid #BBC4D7; box-sizing: border-box; font-family: "Noto Sans KR", sans-serif}
.register input[type="text"]::placeholder{color: #8893AA; font-family: "Noto Sans KR", sans-serif; font-size: 16px;}
.register .ico_chk{position: absolute; top:-6px; right: -12px; color:#c26836}
.relation_info{display: flex; padding-left: 15px;}
.relation_info .input_box{margin-left: 10px;}
.relation_info .input_box input[type="text"]{display: block; width: 550px; margin-bottom: 10px;}
.register .input_tit{position: relative;}
.register .input_tit .ico_chk{top:-2px; right: -10px;}
.register .reg_btn_w47{width: 47px; height: 47px; line-height: 38px; margin-left: 10px; border-radius: 5px; color: #fff; font-family: "Noto Sans KR", sans-serif; background-color: #192c57}
.reg_style{padding-left: 15px; padding-right: 35px;}
.reg_info .reg_top{display: flex; align-items: center; }
.reg_info .reg_top .col{display: inline-block; width: 50%; border-bottom: 2px solid #dae1e9;}
.reg_info .reg_top .col:first-child{margin-right: 30px;}
.reg_info .reg_top .col .input_tit{width: auto;}
.reg_info .reg_top input[type="text"] {width: 220px; height: 16px; margin-left: 20px; margin-bottom: 12px; background-color: #f6fbfe; border: none;}
.register .reg_btn{width: 120px; height: 40px; line-height: 38px; margin-top: 3px; margin-left: 10px; border-radius: 5px; color: #fff; font-size: 14px; font-family: "Noto Sans KR", sans-serif; background-color: #192c57}
.reg_info .row{margin-bottom: 28px;}
.reg_info .row .input_tit {display: inline-block; margin-right: 106px;}
.reg_info .reg_select, .reg_info .upload_input{width: 380px;}
.reg_info .upload_input{height: 47px; padding: 8px 14px; border-radius: 5px; border:1px solid #ced5e4; box-sizing: border-box; font-family: "Noto Sans KR", sans-serif;}
.reg_info .row .reg_select2{margin-left: 10px; width: 120px;}
.reg_info .filebox input[type="file"]{position: absolute;  top:0; left:0; width:0; height:0; line-height:0; overflow: hidden; border: 0;}
.reg_info .filebox .file{display: inline-block; margin-left: 10px; width: 120px; height: 40px; line-height: 38px; font-size: 14px; font-family: "Noto Sans KR", sans-serif; border-radius: 5px; color: #fff; background-color: #192c57; text-align: center; cursor: pointer;}
.register .funeral_info .funeral_input{width: 414px;}
.register .funeral_info .room_nm{width: 120px; margin-left: 10px;}
.register .funeral_info .row{margin-bottom: 18px;}
.register .funeral_info .bt_txt{margin-left: 16px; font-size: 16px;}
.register.reg_type .row{margin-bottom: 18px;}
.register.reg_type .reg_input{width: 655px; margin-left: 50px;}
.register.reg_type .reg_input_w598{width: 598px; margin-left: 50px;}
.relation_info2{display: flex; padding-left: 15px;}
.relation_info2 .select{margin-right: 10px;}
.register .relation_info2 .reg_input{width: 168px; border-right: none; border-top-right-radius: 0; border-bottom-right-radius: 0;}
.register .relation_info2 .ph_input{width:345px; border-top-left-radius: 0; border-bottom-left-radius: 0;}
.register .add_btn,.register .minus_btn{position: relative; width: 46px; height: 46px; display: block; margin-bottom: 10px; margin-left: 10px; font-size:0; line-height:0; text-indent:-9999px; background-color: #fff; border:1px solid #1a2b57; border-radius: 5px; background: url("../images/bg_plus_btn.png") no-repeat center #fff; }
.register .minus_btn{background: url("../images/bg_minus_btn.png") no-repeat center #fff; }
.register .account_info .row{display: flex; align-items: center; margin-bottom: 28px;}
.register .account_info .input_nm{width: 150px; margin-right: 10px;}
.register .account_info .link_input{width: 380px; margin-left: 14px;}
.register .account_info .bank_select{border-top-right-radius: 0; border-bottom-right-radius: 0;}
.register .account_info .input_account{width: 290px; border-left: none; border-top-left-radius: 0; border-bottom-left-radius: 0;}
.register .message{position: relative;}
.register .view_area{position: absolute; top:0; right: 0;}
.register .view_area a{margin-left: 24px; font-size: 14px; color: #0C1622;}
.register .view_area .sample::before,.register .view_area .preview::before{display: inline-block; margin-right: 8px; width: 24px; height: 24px; vertical-align: -6px; background-repeat: no-repeat; content: "";}
.register .view_area .sample::before{background-image: url("../images/ico_sample.png");}
.register .view_area .preview::before{background-image: url("../images/ico_preview.png");}
.register .message .editor_box{position: relative; width: 672px; min-height: 234px; margin-left: 15px; padding: 10px; background-color: #fff; border:1px solid #BBC4D7; border-radius: 5px; box-sizing: border-box;}
.register .btn_wrap{position: absolute; top:62px; right: 0;}
.register .message .editor_box .subject{position: relative; display: flex; margin-bottom: 12px;}
.register .message .editor_box .subject .select{width: 240px; color: #8893AA; border-top-right-radius: 0; border-bottom-right-radius: 0;}
.register .message .editor_box .subject .max_opt{width: 300px; border-top-left-radius: 0; border-bottom-left-radius: 0; border-left: none;}
.register .message .editor_box .subject .arr_btn{width: 47px; height: 47px; margin-left: 10px; border:1px solid #192B57; border-radius: 5px; background-image: url("../images/bg_arr_up.png"); background-repeat: no-repeat; background-position:center; font-size:0; line-height:0; text-indent:-9999px;
}
.register .message .editor_box .subject .arr_btn.down{ background-image: url("../images/bg_arr_down.png"); }
.register .message .editor_box .reg_btn{margin-left: 0; margin-bottom: 10px;}
.register .message .open_opt{position: absolute; top:70px; right: 15px; font-size: 14px;}
.register .message .switch{display: inline-block; position: relative; width: 38px; height: 18px; margin-left: 8px; vertical-align: middle; background: linear-gradient(180deg, rgba(201,201,205,1) 0%, rgba(224,225,229,1) 100%); transition: all 0.2s ease; border-radius: 10px;}
.register .message .switch::after{content: ""; display: block; position: absolute; left: -3px; top:-3px; width: 22px; height: 22px; background: #fff; border-radius: 50%; border: 1px solid #ccc; transition: all 0.2s ease;}
.register .message .switch.active{background: #192B57;}
.register .message .switch.active::after{left: 16px;}
.register_content .register_btn{text-align: center;}
.register_content .register_btn button{width: 174px; height: 54px; margin:0 5px; color: #fff; font-size: 16px; font-family: "Noto Sans KR", sans-serif; background-color: #192B57; border-radius: 50px;}
.register_content .register_btn .cancel{background-color: #fff; color: #666; border: 1px solid #ABBFC6;}
.content_top{width:752px; margin:0 auto; padding:264px 0 72px;}
.content_top .main_profile{display: block; position: relative; border: 1px solid rgba(12, 22, 34, 0.5);}
.content_top .main_profile img{vertical-align: middle;}
.content_top .main_profile .profile{position: absolute; left: 50%; bottom: 0; margin-left:-124px; background-origin: padding-box; width: 248px; height: 248px; background-color: #BB7A19; color: #fff; }

